<div>
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div>
    <h1>Notes</h1>
    <%= link_to 'New note', new_note_path %>
  </div>

  <div id="notes">
    <%= render @notes %>
  </div>
</div>
