<div>
  <div class="flex justify-between items-center pb-3 gap-6 mb-6">
    <%= button_tag type: :button, class: "btn btn-square btn-sm btn-outline", data: { controller: "reload", action: "click->reload#reload" } do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" /></svg>
    <% end %>
    <h1 class="flex-initial font-bold text-2xl">Call Notes</h1>
    <%= link_to 'New note', new_note_path, data: { turbo_frame: "modal" }, class: "flex-auto btn btn-secondary" %>
  </div>

  <div data-controller="tab">
    <div class="tabs">
      <a class="tab tab-bordered" data-tab-target="incompleteTab" data-action="click->tab#showIncomplete">Incomplete</a>
      <a class="tab tab-bordered" data-tab-target="completeTab" data-action="click->tab#showComplete">Complete</a>
    </div>
    <div id="incompleted-notes" data-tab-target="incompleteNotes">
      <%= render @incompleted_notes %>
    </div>
    <div id="completed-notes" data-tab-target="completeNotes">
      <%= render @completed_notes %>
    </div>
  </div>
</div>
