<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing phone call</h1>

  <%= render "form", phone_call: @phone_call %>

  <%= link_to "Show this phone call", @phone_call, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to phone calls", phone_calls_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
