<div class="flex my-3">
  <p class="flex-initial w-1/4">Customer:</p>
  <div class="flex-auto">
    <%= link_to customer.content, customer_path(customer.searchable_id), data: { turbo_frame: "modal" }, class: "underline text-blue-500" %>
  </div>
</div>
