<div id="<%= dom_id user %>">
  <%= link_to edit_user_path(user), class: "block my-3" do %>
    <p class="font-bold underline"><%= user.full_name %></p>
    <p><%= user.email %></p>
  <% end %>
</div>
