<div>
  <div>


    <%= render @user %>

    <%= link_to 'Edit this user', edit_user_path(@user) %>
    <div>
      <%= button_to 'Destroy this user', user_path(@user), method: :delete %>
    </div>
    <%= link_to 'Back to users', users_path %>
  </div>
</div>
