<div>
  <div class="flex justify-between items-center pb-3 gap-6 mb-6">
    <h1 class="flex-initial font-bold text-2xl">Customers</h1>
    <%#= link_to "New customer", new_customer_path, data: { turbo_frame: "modal" }, class: "btn btn-secondary" %>
  </div>
  <div id="customers" class="min-w-full">
    <% @customers.each do |customer| %>
      <%= link_to customer_path(customer), data: { turbo_frame: "modal" }, class: "block my-3" do %>
        <p class="font-bold underline"><%= customer.name %></p>
        <p><%= customer.phone_number %></p>
        <p><%= pluralize(customer.notes.count, "note") %></p>
      <% end %>
    <% end %>
  </div>
</div>
